body {
    background-image: url("marble.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.all {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;

}